body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    img {
    cursor: pointer;
    max-width: 50%;
    }
    
    .quote-wrapper {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    }
    
    .quote {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 20px;
    }
    
    .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    
    .quote-balloon {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    padding: 20px;
    position: relative;
    display: inline-block;
    }
    
    .quote-balloon:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent #FFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    bottom: -10px;
    }
    
    